@page "/movies"
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@attribute [Authorize]
@inject HttpClient _httpClient

<h3>Movies</h3>
<div>
    <h3>In theaters</h3>
    <MoviesList Movies="_moviesList" />
</div>

@code {

    private List<Movie> _moviesList;
    protected override async  Task OnInitializedAsync()
    {
        await GetMovies();
    }

    private async Task GetMovies()
    {
        var httpResponseMessage = await _httpClient.GetAsync("/api/movies");

        if (httpResponseMessage.IsSuccessStatusCode)
        {
            var responseString = await httpResponseMessage.Content.ReadAsStringAsync();
            _moviesList = JsonSerializer.Deserialize<List<Movie>>(responseString, new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            //error
        }
    }
}