@page "/movies/edit/{MovieId:int}"
@inject IMovieRepository _movies
@inject NavigationManager _navigation

<h3>Edit Movie</h3>

@if (Movie != null)
{
    <MovieForm Movie="Movie" OnValidSubmit="Edit" />
}

@code {
    [Parameter] public int MovieId { get; set; }
    public Movie Movie;

    protected override async Task OnInitializedAsync()
    {
        Movie = await _movies.GetMovie(MovieId);
    }

    private void Edit()
    {
        try
        {
            _movies.UpdateMovie(Movie);
            _navigation.NavigateTo("movies");
        }
        catch (ApplicationException e)
        {
            // todo google how to show error like .net shows at the bottom
            throw e;
        }
    }
}
